table.result {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
}
.result td, th {
  vertical-align: top;
  /*text-align: center;*/
  padding:10px;
  width:225px;
}
.result td {
  height: 55px;
  overflow:hidden;
  overflow-wrap:break-word;
}
.resultpage_title {
  margin-left: 2em;
  display: inline-block;
}
td{

  height:55px;
  overflow-wrap:break-word;
  overflow: hidden;
}
.hard_left {
  position:absolute;
  *position: relative; /*ie7*/
  left:0;
  width:80px;
}
.last_left {
  position:absolute;
  *position: relative;
  left:80px;
  width:225px;
}
.outer {position:relative}
.inner {
  overflow-x:auto;
  overflow-y:visible;
  margin-left:305px;
}
