<h1>Geko Instructions</h1>
<div style="display:inline-block;width:50;text-align:left;float:left;">
  <div ng-show="currentAnnotation==0">
    <h3>1. Identify the medial tibial plateau</h3>
  </div>
  <div ng-show="currentAnnotation==1">
    <h3>2. Identify the medial half of the medial compartment growth plate</h3>
    <p>Growth plate thickness may be measured medially and laterally (two measures/joint), midway between the center of the physis and the medial (medial measurement) or lateral (lateral measurement) margin if an overview of the sections suggests that differences in growth plate width are present. It is recommended to only measure growth plate thickness in sections of tibia, as these sections are more likely than those of the femur to be taken in a plane perpendicular to the growth plate in frontal sections.</p>
  </div>
  <div ng-show="currentAnnotation==2">
    <h3>3. Identify the lateral half of the medial compartment growth plate</h3>
  </div>
  <div ng-show="currentAnnotation==3">
    <h3>4. Define the osteochondral interface</h3>
    <p>Click to define each vertex to trace the interface</p>
  </div>
  <div ng-show="currentAnnotation==4">
    <h3>5. Identify the total cartilage degeneration width</h3>
    <p>The total width of the area of articular cartilage affected by any type of degenerative change (matrix fibrillation/loss, PG loss with or without chondrocyte death) is measured in micrometers. This measurement takes into account foci of minor change (PG loss only), especially in zone 3, that are excluded from the cartilage degeneration score (#2 above). The measurement extends from the point on the cartilage surface where degeneration of the underlying cartilage begins in zone 1, across the area of cartilage degeneration to the point where the tangential layer and underlying cartilage appear histologically normal. All areas of abnormal matrix across the surface are measured.</p>
  </div>
  <div ng-show="currentAnnotation==5">
    <h3>6. Identify the significant cartilage degeneration width</h3>
    <p>This parameter is a measurement of the width of the tibial cartilage in which 50% or greater of the thickness (from surface to tidemark) is seriously compromised (Fig. 5). A cartilage area is considered to be seriously compromised when 50% of chondrocytes are absent or necrotic, with or without collagen matrix loss; therefore, this measurement correlates with the cartilage degeneration score (#2 above). In general, chondrocyte and PG loss are more extensive than the collagen matrix loss and often extend to at least 50% or greater of the cartilage depth in zones 1 and 2.</p>
  </div>
  <div ng-show="currentAnnotation==6">
    <h3>7. Define the cartilage lesion</h3>
    <p>Click to define each vertex to trace the outline of the cartilage lesion where cartilage is missing.</p>
  </div>
  <div ng-show="currentAnnotation==7">
    <h3>8. Identify the Osteophyte</h3>
    <p>The largest osteophyte in each section is measured (from the deepest point of its base at the chondro-osseous junction to the surface of the overlying cartilage at its thickest point).</p>
  </div>
  <button style="float: left;" ng-show="currentAnnotation>0" ng-click="goBack()">Back</button>
  <button style="float: left;" ng-show="currentAnnotation<7" ng-click="goNext()">Next</button>
  <button style="float: left;" ng-show="currentAnnotation>1" ng-click="goFirst()">Start Over</button>
</div>
<div style="text-align:left;float: right;">
<div style="display: inline-block; margin: auto;margin-top: 1em; background-color: rgba(50, 50, 50, .3); padding: 1em; border-radius: 1em">
<canvas annotator style="display: block;padding:0px;margin: auto" id="canvas" width="500" height="375"></canvas>
</div>
</div>