<h1>Geko Instructions</h1>
<div style="display: inline-block;text-align: left;float: left;margin: auto;" width="725" height="530">
	<div ng-show="currentAnnotation==0">
		<h3>1. Identify the osteophyte region</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==1">
		<h3>2. Identify the plateau span</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==2">
		<h3>3. Identify the lesion border</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==3">
		<h3>4. Identify the lesion surface points</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==4">
		<h3>5. Identify the cartilage interface</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==5">
		<h3>6. Identify the cartilage surface</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis <br>
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br>
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br>
			officia deserunt mollit anim id est laborum.</p>
	</div>
	<div ng-show="currentAnnotation==6">
		<h3>Final Graded Image</h3>
		<img src="/modules/training/client/img/grader/D4_KDA_1.jpg" width="480" height="350">
	</div>
	<button style="float: left;" ng-show="currentAnnotation>0" ng-click="goBack()">Back</button>
	<button style="float: left;" ng-show="currentAnnotation<6" ng-click="goNext()">Next</button>
	<button style="float: left;" ng-show="currentAnnotation>1" ng-click="goFirst()">Start Over</button>
</div>
<div style="float: right;display: inline-block;margin: auto;margin-top: 1em;background-color: rgba(50, 50, 50, .3);padding: 1em;border-radius: 1em;">
	<canvas annotator style="display: block;padding:0px;margin: auto" id="canvas" width="560" height="420"></canvas>
</div>
