<div style="text-align:center">
<div ng-show="!finished" class="text-window" style="margin:auto;position: relative">
  <h3 style="display:inline-block">{{on.step+1}}. {{annotationSteps[on.step].niceName}}</h3>
  <button style="position: absolute; top: 35px;right:10px" ng-disabled="on.step==0" ng-click="goBack()">Back</button>
</div>
<div ng-show="!finished"  style="display: inline-block; margin: auto;margin-top: 1em; background-color: rgba(50, 50, 50, .3); padding: 1em; border-radius: 1em">
<canvas annotator style="display: block;padding:0px;margin: auto" id="canvas" width="725" height="530"></canvas>
<span ng-style="{opacity : (annotations[on.step].annotationType=='polyline') || '0'}">Hold control to mark the end of the polyline.</span>
</div>
<h3 style="margin-top:3em;" ng-show="finished"><i>No images left to grade</i><br><br>Would you like to <a ui-sref="grader.results({id: currentSessionIndex})">
  see results</a> or <a href="/grader/upload">start a new session</a>?</h3>
<br>
<h4>Completed {{numCompleted}}/{{numImages}}<h4>
</div>
