   <div class="creatediv1 marginTop30">
    			
				<div class="row margin-top-50">
					<div class="col-md-12">
						<div class="panel panel-primary filterable">
							<div class="panel-heading">
								<h3 class="panel-title">Review History<span style="color: white; font-weight: bold;"> </span></h3>
								
								</div>
							</div>
							<table class="span12">
								<table>
									<tr class="filters">
									<th style="width: 4.1%; width:50px;">
										<div class="checkbox radio-margin">
											<label>
												<input type="checkbox" value="">
												<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											</label>
										</div>
									</th>
									<th style="width: 48%">
										<input type="text" class="form-control" placeholder="User's Name" disabled>
									</th>
									<th style="width: 48%">
										<input type="text" class="form-control" placeholder="Session ID" disabled>
									</th>
									</tr>
								</table>
								<div class="bg tablescroll">
									<table class="table table-bordered table-striped">
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</th>
											<td style="width: 49.8%">User Name</th>
											<td style="width: 48%">542584612548</th>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">652145875623</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
										<tr>
											<td style="width: 4.1%; width:50px;">
												<div class="checkbox radio-margin">
													<label>
														<input type="checkbox" value="">
														<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
													</label>
												</div>
											</td>
											<td style="width: 48%">User Name</td>
											<td style="width: 48%">854785412563</td>
										</tr>
									</table>
								</div>
							</table>
						</div>