/* csslint ignore:start */
/* csslint complains about not having radients for all browsers,
   but this is a webkit only property... */
.home-img {
  border-radius: 15px;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.08)));
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
}
.brand-img {
  height: 20px;
  margin-right: 5px;
  float: left;
}
.labLogo-img {
  background-color: rgba(255,255,255,0.8);
  width: 220px;
  position: absolute;
  top: 60px;
  right: 15px;
}

.home-footer {
  padding-top: 20px;
  padding-bottom: 50px;
}
.headline {
  font-size: 80px;
  font-weight: bold;
}
.sub-headline {
  font-size: 25px;
  font-style: italic;
}
.buttons-headline {
  padding-top: 15px;
}
/* csslint ignore:end */
/* Loading Page CSS */

#page-loader {
  display: none;
  visibility: hidden;
  @media @tablet {
    display: block;
    visibility: visible;
  }
  width: 100%;
  height: 100%;
  color: @negative-color;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .anima(0.6s);
  .font1;
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #271e1c;
    z-index: 1;
    .anima(0.6s);
  }
  &:after {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #271e1c;
    .anima(0.6s);
  }
}

.loader-out {
  opacity: 0;
  &:before {
    transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    opacity: 0;
  }
  &:after {
    transform: translateX(600px);
    -moz-transform: translateX(600px);
    -webkit-transform: translateX(600px);
    opacity: 0;
  }
}

.loading-wrapper {
  width: 250px;
  position: fixed;
  top: 50%;
  margin-top: -130px;
  left: 50%;
  margin-left: -125px;
  opacity: 1;
  .anima(0.6s);
  z-index: 9;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.loading-wrapper-hide {
  opacity: 0;
  .anima(0.6s);
  transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.tp-loader  {
  z-index:10000;
  position:relative;
}



.loader-name {
  color: @negative-color;
  opacity: 0.8;
  text-align: center;
  letter-spacing: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  margin-top: 45px;
  .anima(0.4s);
  margin-bottom: 35px;
  img {
    max-width: 230px;
  }
}

.loader-job {
  border: 1px solid @negative-color;
  padding: 5px;
  //max-width: 320px;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
  color: @negative-color;
  font-size: 13px;
  .anima(0.4s);
}


.loader-left {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}

.loader-right {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
}

.loader-up {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  opacity: 0!important;
}

.loader-down {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
}

.loader-hide {
  opacity: 0;
}


.loader {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-animation {
  text-align: center;
}

.svg-loader {
  margin: 0px auto;
  margin-bottom: -30px;
  display: block;
  -webkit-animation: svg-rotate 4000ms linear infinite;
          animation: svg-rotate 4000ms linear infinite;
  circle {
    fill: transparent;
    stroke: @negative-color;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 0, 301.59289;
    -webkit-animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
            animation: stroke-dash 2000ms linear infinite, stroke-width 2000ms linear infinite, stroke-color 8000ms steps(4) infinite;
  }
}



@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@keyframes stroke-width {
  0%, 100% {
    stroke-width: 0;
  }
  45%, 55% {
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
  }
}
@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 301.59289;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 301.59289, 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 301.59289, 301.59289;
    stroke-dashoffset: -301.59289;
  }
}
@-webkit-keyframes stroke-color {
  from {
    stroke: @negative-color;
  }
}
@keyframes stroke-color {
  from {
    stroke: @negative-color;
  }
}


//new
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
