/* csslint ignore:start */
/* csslint complains about not having radients for all browsers,
   but this is a webkit only property... */
.home-img {
  border-radius: 15px;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.08)));
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
}
.brand-img {
  height: 20px;
  margin-right: 5px;
  float: left;
}
.labLogo-img {
  height: 50px;
  float: right;
}
.home-body {
  padding-bottom: 40px;
}
.home-footer {
  padding-top: 20px;
  padding-bottom: 50px;
}
.headline {
  font-size: 80px;
  font-weight: bold;
}
.sub-headline {
  font-size: 25px;
  font-style: italic;
}
.buttons-headline {
  padding-top: 15px;
}
/* csslint ignore:end */
